<footer>
    <div class="container-fluid p-3">
        <div class="row text-center text-white">
            <div class="col ml-auto">
                <p>Coded By @David Peña &copy; 2020</p>
                <p><a href="https://www.instagram.com/xzomboy.19"> <img src="../assets/img/instagram.png" alt="instragram-logo"></a></p>
                Iconos diseñados por <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
            </div>
        </div>
    </div>       
</footer>